# Nice things removed (Put them onto the 'releases' thing on GitHub)
Bulids/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
*.import
.vscode/settings.json

/user_settings.cfg
/user_save.save
